{% extends 'base.html' %}
{% block content %}
<style>
    .image-container {
        max-width: 30%;
        height: auto;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bienvenido  {{ usuario.nombre }}!</h4>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <!--<h3 style="font-weight: bold;" class="card-title"><strong>Bienvenido a tu página de Búsqueda</strong></h3>-->
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="image-container" src="{{ url_for('static', filename='/img_data/dicyt2.png') }}" alt="Imagen">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
